{% extends "base.html" %}
{% load staticfiles %}

{# HOME TAB ACTIVE #}

{% block resultstab %}
	<li class="activetab"><a href="{% url 'index' %}">RESULTS</a></li>
{% endblock %}

{# CONTENT #}

{% block main %}
	<div align="center" style="text-align: center">
		<h1>Graphs</h1>
		<br /><br />
		<div class="btn-group">
			<button type="button" style="margin-right:20px" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				Linear<span class="caret" style="margin-left: 5px"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li onclick="changePre(this)" title="Accuracy"><a>ACC</a></li>
				<li onclick="changePre(this)" title="Area Under Curve"><a>AUC</a></li>
				<li onclick="changePre(this)" title="Matthew Correlation Coefficient"><a>MCC</a></li>
				<li onclick="changePre(this)" title="Negative Predictive Value"><a>NPV</a></li>
				<li onclick="changePre(this)" title="Positive Predictive Value"><a>PPV</a></li>
				<li onclick="changePre(this)" title="Sensitivity"><a>SENS</a></li>
				<li onclick="changePre(this)" title="Specificity"><a>SPEC</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" style="margin-right:20px" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Histogram</button>
		</div>
		<a href="{{ link_tree }}"><input type="button" class="btn btn-default start" value="Phylogenetic tree" style="min-width: 100px" /></a>
		<div class="btn-group">
			<!--<button type="button" style="margin-left:20px" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				3D<span class="caret" style="margin-left: 5px"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="">3D Graph</a></li>
				<li><a>Oculus</a></li>
				<li><a href="{{ link_three }}">Philogeny tree</a></li>
			</ul>--->
		</div>
		<br /><br />
		<div id="all_graphs">
			<div id="graph_linear" style="display: block">
				<img src="" style="margin-left: 10px;" />
				<br /><br />
				<ul id="repetitions" class="pagination">
					<li onclick="changePost(this)"><a>10</a></li>
					<li onclick="changePost(this)"><a>100</a></li>
					<!-- <li onclick="changePost(this)"><a>267</a></li> --->
					<li onclick="changePost(this)"><a>1000</a></li>
				</ul>
			</div>
			<div id="graph_histogram" style="display: none">
				<div id="chart">
				</div>
				<div id="data-table">
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static '2DLibraries/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static '2DLibraries/2DPlot.js' %}"></script>
	<script>
      function ajaxRequest(){
	  var activexmodes=["Msxml2.XMLHTTP", "Microsoft.XMLHTTP"] //activeX versions to check for in IE
	  if (window.ActiveXObject){ //Test for support for ActiveXObject in IE first (as XMLHttpRequest in IE7 is broken)
	      for (var i=0; i<activexmodes.length; i++){
		  try{
		      return new ActiveXObject(activexmodes[i])
		  }
		  catch(e){
		      //suppress error
		  }
	      }
	  }
	  else if (window.XMLHttpRequest) // if Mozilla, Safari etc
	      return new XMLHttpRequest()
	  else
	      return false
      }

      var r ;
      var call = function(url) {
          var a = new ajaxRequest ();
          
          a.open("GET", url, false);
          a.send(null);
          r = a.responseText;
          CHART.go(r);
	  TABLE.go();
      }

	window.onload = function(){ call('{# #}'); };
    </script>
	<script>
		var isLinear = true;
		var isHistogram = false;
		var pre = 'ACC';
		var post = '10';
		var path_lin = "{{ media_path }}";
		var path_his = "{% static 'graph_histo/' %}";
		document.getElementById('graph_linear').childNodes[1].setAttribute('src', path_lin + pre + '_' + post + '.png');
		var path_lin = "{{ media_path }}";
		var path_his = "{% static 'graph_histo/' %}";

		function changePre(dis) {
			var img = document.getElementById('graph_linear').childNodes[1]; // 0 is text dunno
			pre = dis.childNodes[0].innerHTML;
			var src = pre + '_' + post + '.png';
			img.setAttribute('src', path_lin + src);
			if (isLinear == false) { showGraphDiv('lin') }
		}

		function changePost(dis) {
			var img = document.getElementById('graph_linear').childNodes[1]; // 0 is text dunno
			post = dis.childNodes[0].innerHTML;
			var src = pre + '_' + post + '.png';
			img.setAttribute('src', path_lin + src);
		}

		function changeHistogram(dis) {
			/*var img = document.getElementById('graph_histogram').childNodes[1];
			var name = dis.childNodes[0].innerHTML;
			var src = name + '.png';
			img.setAttribute('src', path_his + src);*/
			if (isHistogram == false) { showGraphDiv('his') }
		}

		function showGraphDiv(type) {
			if (type == 'lin') {
				document.getElementById('graph_linear').style.display = 'block';
				document.getElementById('graph_histogram').style.display = 'none';
				isLinear = true;
				isHistogram = false;
			}
			else if (type == 'his') {
				document.getElementById('graph_histogram').style.display = 'block';
				document.getElementById('graph_linear').style.display = 'none';
				isHistogram = true;
				isLinear = false;
			}
		}
	</script>
{% endblock %}
