{% extends "base.html" %}
{% load staticfiles %}

{# TITLE #}
{% block pagetitle %}
	Contact us - 
{% endblock %}

{# CONTACTS TAB ACTIVE #}

{% block contactstab %}
	<li class="activetab"><a href="{% url 'contact' %}">CONTACTS</a></li>
{% endblock %}


{# CONTENT #}

{% block main %}
	<style>
		.nolist {
			margin-bottom: 20px;
			overflow: hidden;
			border-top: 1px solid #ccc;
		}

		.nolist li {
			line-height: 1.5em;
			border-bottom: 1px solid #ccc;
			float: left;
		}

		.single { width: 820px; }
		.single li { width: 100% }
		.double { width: 340px; }
		.double li { width: 50%; }
	</style>
	<img src="{% static 'img/OurTeam.png' %}" style="float: right; margin-top: 100px" />
	<b style="font-size: 20px">The WebValley team:</b>
	<br />
	<b style="font-size: 17px">Tutors</b>
	<ul class="nolist double">
		<li>Claudia Dolci</li>
		<li>Giuseppe Jurman</li>
		<li>Cesare Furlanello</li>
		<li>Marco Chierici</li>
		<li>Alessandro Zandona'</li>
		<li>Marco Mina</li>
		<li>Daniele Morabito</li>
		<li>Shamar Droghetti</li>
		<li>Gabriele Franch</li>
		<li>Martina Calovi</li>
		<li>Michele Filosi</li>
		<li>Roberto Visintainer</li>
		<li>Ernesto Arbitrio</li>
	</ul>
	<b style="font-size: 17px">Students</b>
	<ul class="nolist double">
		<li>Andrea Rivera</li>
		<li>Cristian Lizan</li>	
		<li>Davide Bizzarri</li>
		<li>Davide Farina</li>
		<li>Davide Leonessi</li>	
		<li>Deborah Miori</li>
		<li>Federica Freddi</li>
		<li>Filippo Quattrocchi</li>
		<li>Hiromu Yakura</li>	
		<li>Kaiwen Zheng</li>
		<li>Kevin Lee</li>
		<li>Luca Donini</li>
		<li>Nebras Djemel</li>	
		<li>Nina Bogdanovic</li>	
		<li>Pia Sen</li>
		<li>Ruchi Asthana</li>
		<li>Stefano Valentini</li>
		<li>Talissa Dreossi</li>
		<li>Yuan Chen</li>
	</ul>
	<br />
	<b style="font-size: 20px">Special thanks to:</b>
	<br /><br />
	<ul class="nolist single">
		<li>Provincia Autonoma di Trento</li>
		<li>APT Terme di Comano</li><br>
		<li>Dolomiti di Brenta</li>
		<li>Comune di San Lorenzo in Banale</li>
		<li>EDULIfE</li>
		<li>FAST: Federation of the Scientific and Technical Associations, Italy</li>
		<li>FBK Board of Directors</li>
		<li>Italian Embassy, Washington DC</li>
		<li>MIUR National Program for Mathematics and Science Education (PLS)</li>
		<li>NYEX: Network of Young Excellence</li>
		<li>Trentino Network</li>
		<li>US Society for Science</li><br>
		<li>INTEL ISEF</li>
		<li>Center for Integrative Biology, UniTN</li>
		<li>Children's Hospital and Research Institute, Bambino Gesu', Rome</li>
		<li>Dip. di Pediatria e Neuropsichiatria Infantile, Sapienza</li><br>
		<li>Universita' di Roma</li>
		<li>Fondazione Edmund Mach</li>
	</ul>
	<br />
	<b style="font-size: 20px">Contacts:</b>
	<br /><br />
	<b style="font-size: 17px">Fondazione Bruno Kessler</b>
	<ul class="nolist single">
		<li>Via Sommarive, 18</li>
		<li>Povo (Trento), Italy 38123</li>
		<li>P: +39 366 7554977</li><br>
		<li>email: <a href="mailto:webvalley@fbk.eu">webvalley@fbk.eu</a></li>
		<li>website: <a href="http://webvalley.fbk.eu/">http://webvalley.fbk.eu</a></li>
		<li>Cesare Furlanello</li>
		<li>Giuseppe Jurman - <a href="mailto:webvalley@fbk.eu">jurman@fbk.eu</a></li>
		<li>Martina Calovi - <a href="mailto:webvalley@fbk.eu">mcalovi@fbk.eu</a></li>
	</ul>
	<b style="font-size: 17px">Bambino Gesu' Ospedale Pediatrico</b>
	<ul class="nolist single">
		<li>Centralino</li>
		<li>tel. +39 06.6859.1</li><br>
		<li>URP - Ufficio Relazioni con il Pubblico</li>
		<li>e-mail: <a href="mailto:urp@opbg.net">urp@opbg.net</a></li>
		<li>website: <a href="http://www.ospedalebambinogesu.it/">http://www.ospedalebambinogesu.it</a></li>
		<li>tel. +39 06.6859.4888 - Sedi di Roma Gianicolo, Taormina, Potenza e Catanzaro</li>
		<li>tel. +39 06.6859.3638 - Sede di Roma San Paolo</li>
		<li>tel. +39 06.6859.3555 - Sedi di Palidoro e Santa Marinella</li>
	</ul>
{% endblock %}
