{% extends "base.html" %}
{% load staticfiles %}

{# HOME TAB ACTIVE #}

{% block hometab %}
	<li class="activetab"><a href="{% url 'index' %}">HOME</a></li>
{% endblock %}

{# CONTENT #}

{% block main %}
	<ul class="pagination" style="margin-left: auto; margin-right: auto">
		<li><a href="#">&laquo;</a></li>
		<li><a href="#">ACC</a></li>
		<li><a href="#">AUC</a></li>
		<li><a href="#">MCC</a></li>
		<li><a href="#">NPV</a></li>
		<li><a href="#">PPV</a></li>
		<li><a href="#">SENS</a></li>
		<li><a href="#">SPEC</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
	<br /><br />
	<ul class="pagination">
		<li><a href="#">&laquo;</a></li>
		<li><a href="#">10</a></li>
		<li><a href="#">100</a></li>
		<li><a href="#">1000</a></li>
		<li><a href="#">3964</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
{% endblock %}
