{% extends "base.html" %}
{% load staticfiles %}

{# HOME TAB ACTIVE #}

{% block hometab %}
	<li class="activetab"><a href="{% url 'index' %}">HOME</a></li>
{% endblock %}

{# NO DOUBLE LOGO #}

{% block logo %}
{% endblock %}

{# CONTENT #}

{% block main %}
	<div style="text-align:center">
		<img src="{% static 'img/logo.png' %}" style="width: 600px" />
		<hr style="width: 100%; height: 2px; background-color: #777" /><br />
		<!-- CODES is a novel web platform for studying microbiota dysbiosis in childhood.<br />
		The platform connects omics data and clinical phenotypes, implementing a system medicine approach, with a special focus on the support of reproducible research within interdisciplinary projects.<br /><br /> --!>
		CODE (Children Omics Dysbiosis Elaboration System) is developed for microbiodata 16s sequence analysis, fingerprinting and classification as a possible tool for preliminary macrobiotic dybiosis diagnosis in pediatric IBD patients.
The input of the program, the raw data from 16s sequencing will be analyzed by the system into graphs, OTU tables, and has the ability of comparing different results of previously done sample. The output then would result in the classification, fingerprinting and diagnostic of new samples according to the data received. CODE is a great tool for researchers or clinicians to further comprehend children's macrobiota and further understand the diagnosis of Dysbiosis in the patients.
	</div>
{% endblock %}
