{% extends "base.html" %}
{% load staticfiles %}

{# TAB HOME ATTIVA #}

{% block hometab %}
	<li class="activetab"><a href="{% url 'index' %}">HOME</a></li>
{% endblock %}

{# NO DOPPIO LOGO #}

{% block logo %}
{% endblock %}

{# CONTENUTO #}

{% block main %}
	<div style="text-align:center">
		<img src="{% static 'img/logo.png' %}" style="width: 700px" />
		<hr style="width: 100%; height: 2px; background-color: #777" /><br />
		CODES is a novel web platform for studying microbiota dysbiosis in childhood.<br />
		The platform connects omics data and clinical phenotypes, implementing a system medicine approach, with a special focus on the support of reproducible research within interdisciplinary projects.
	</div>
{% endblock %}
