{% extends "base.html" %}

{# TITLE #}
{% block pagetitle %}
	Login - 
{% endblock %}

{# HOME TAB ACTIVE #}

{% block hometab %}
	<li class="activetab"><a href="{% url 'index' %}">HOME</a></li>
{% endblock %}


{# REMOVE LOGIN TAB #}

{% block login %}
{% endblock %}


{# CONTENT #}

{% block main %}
	{% if form.errors %}<p style="text-align:center">Your username and password were incorrect. Please try again.</p>{% endif %}
	<form class="form formbox" action="{% url 'django.contrib.auth.views.login' %}" method="POST"> 
		{% csrf_token %}
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-user"></span>
			</span>
			<input id="id_username" name="username" type="text" class="form-control" placeholder="Username">
		</div>
		<br />
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-asterisk"></span>
			</span>
			<input type="password" name="password" id="id_password" class="form-control" placeholder="Password">
		</div>
		<br />
		<button type="submit" class="btn btn-default centeredbutton">Submit</button>
		<input type="hidden" name="next" value={{ next }}>
	</form>
{% endblock %}
