{% extends "base.html" %}

{# TAB HOME ATTIVA #}

{% block hometab %}
	<li class="activetab"><a href="..">HOME</a></li>
{% endblock %}


{# TOGLIERE IL TAB DEL LOGIN #}

{% block login %}
{% endblock %}


{# CONTENUTO #}

{% block main %}
	{% if form.errors %}<p style="text-align:center">Your username and password were incorrect. Please try again.</p>{% endif %}
	<form class="form" id="formLogin" action="{% url 'django.contrib.auth.views.login' %}" method="POST"> 
		{% csrf_token %}
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-user"></span>
			</span>
			<input id="id_username" name="username" type="text" class="form-control" placeholder="Username">
		</div>
		<br />
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-asterisk"></span>
			</span>
			<input type="password" name="password" id="id_password" class="form-control" placeholder="Password">
		</div>
		<br />
		<button id="loginbutton" type="submit" class="btn btn-default">Submit</button>
		<input type="hidden" name="next" value="/">
	</form>
{% endblock %}
