{% extends "base.html" %}

{# TAB HOME ATTIVA #}

{% block hometab %}
	<li class="activetab"><a href="">HOME</a></li>
{% endblock %}

{# MOSTRA LE TAB SE L'UTENTE E' LOGGATO #}

{% block uploadtab %}
	{% if user.is_authenticated %}
	<li><a href="#">UPLOAD</a></li>
	{% endif %}
{% endblock %}

{% block taskstab %}
	{% if user.is_authenticated %}
	<li><a href="#">TASKS</a></li>
	{% endif %}
{% endblock %}

{% block login %}

{% endblock %}


{# CONTENUTO #}

{% block main %}
	Questa è la home page.
{% endblock %}
