<html>
	

	<form action="/class/step2" method="POST" style="text-align: center">
		<h2>Preprocessing Options</h2><br/>
		
			<div style="float:left">
					<div class="input-group" style="padding: 10px 10px 3px;width:220px;margin-left:40px">
					  <span class="input-group-addon" title="threshold for trimming">Minimum length:</span>
					  <input type="text" class="form-control" value="200">
					</div>
			</div>

		</div>
		

	
		<input type="submit" class="btn btn-default start" value="Next" onclick="uploadFile()" style="width: 100px; float:left;margin-left:170px;margin-top:50px" />


		<!-- <input type="hidden" name="pip_id" value="{{ pip_id }}">  NON SO SE SERVE!!!-->



		<br/><br/><br/><br/><br/>

	</form>
</html>
