{% extends "base.html" %}
{% load staticfiles %}

{# TITLE #}
{% block pagetitle %}
	Classification - 
{% endblock %}

{# UPLOAD TAB ACTIVE #}
{% block uploadtab %}
	{% if user.is_authenticated %}
		<li class="dropdown">
			<a href="#" class="dropdown-toggle activetab" data-toggle="dropdown">START<span class="caret caretfix"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="{% url 'preproc_upload' %}">Preprocessing</a></li>
				<li class="disabled"><a href="{% url 'class_upload' %}">Classification</a></li>
				<li><a href="#">Network</a></li>
			</ul>
		</li>
	{% endif %}
{% endblock %}


{# CONTENT #}

{% block main %}
	{% if messages %}
		<ul class="messages">
    	{% for message in messages %}
    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    	{% endfor %}
		</ul>
	{% endif %}
	<p style="text-align:center">Select a <strong>.CODES</strong> file for the upload.</p><br />
	<form id="dropform" class="form fileformbox dropzone" name="dropform" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="input-group forminp">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-file"> CODES</span>
			</span>
			<input id="fileToUpload" name="file" type="file" class="form-control" onchange="fileSelected();" />
		</div>
		<br />
		<input type="button" class="btn btn-default centeredbutton start" value="Upload" onclick="uploadFile()" />
		<br /><br />
		<div>
        	<p class="size" data-dz-size></p>
        	<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
          		<div id="progress-bar" class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
			</div>
        </div>
	</form>
	<br /><br />
	<p style="text-align:center">Please wait for the files to finish uploading: do not leave the page, you will be redirected automatically.</p>
	<script type="text/javascript">
		function uploadFile() {
			// document.forms["dropform"].submit();
			var fd = new FormData();
			fd.append("file", document.getElementById('fileToUpload').files[0]);
			fd.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
			var xhr = new XMLHttpRequest();
			xhr.upload.addEventListener("progress", uploadProgress, false);
			xhr.addEventListener("load", uploadComplete, false);
			//xhr.addEventListener("error", uploadFailed, false);
			//xhr.addEventListener("abort", uploadCanceled, false);
			xhr.open("POST", "");
			xhr.send(fd);
		}

      function uploadProgress(evt) {
        if (evt.lengthComputable) {
		  document.getElementById('progress-bar').style.width = Math.round(evt.loaded * 100 / evt.total).toString() + '%';
        }
        else {
          document.getElementById('progressNumber').innerHTML = 'unable to compute';
        }
      }

      function uploadComplete(evt) {
        /* This event is raised when the server send back a response */
        alert(evt.target.responseText);
		// document.forms["dropform"].submit();
      }

      function uploadFailed(evt) {
        alert("There was an error attempting to upload the file.");
      }

      function uploadCanceled(evt) {
        alert("The upload has been canceled by the user or the browser dropped the connection.");
      }
    </script>
	<br />
    {% if file_exist %}
    <table class="table table-striped">
    <tr>
        <th> File name </th>
        <th> Select </th>
        <th> Delete </th>
    </tr>
	{% for fi in oldFiles %}
            <tr>
            <td> {{ fi.filename }}</td>
            <td> <a href="" {# da sistemare #}> SELECT </a></td>
            <td> <a href={% url 'delete' fi.pk %}> DELETE </a> </td>
            </tr>
	{% endfor %}
    </table>
    {% endif %}
{% endblock %}
