{% extends "base.html" %}
{% load staticfiles %}

{# TITLE #}
{% block pagetitle %}
	Classification - 
{% endblock %}

{# UPLOAD TAB ACTIVE #}
{% block uploadtab %}
	{% if user.is_authenticated %}
		<li class="dropdown">
			<a href="#" class="dropdown-toggle activetab" data-toggle="dropdown">START<span class="caret caretfix"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="{% url 'preproc_upload' %}">Preprocessing</a></li>
				<li class="disabled"><a href="{% url 'class_upload' %}">Classification</a></li>
				<li><a href="{% url 'network_upload' %}">Network</a></li>
			</ul>
		</li>
	{% endif %}
{% endblock %}


{# CONTENT #}

{% block main %}
	<form action="/class/step2" method="POST" style="text-align: center">
		<h2>Options for the machine learning algorithm</h2>
		<div style="float: left; margin-left: 170px">
			<h4>Scaling method</h4>
			<select name="First_Parameter" class="btn btn-default dropdown-toggle">
				<option value="norm_l2">norm_l2</option>
				<option value="std">std</option>
				<option value="minmax">minmax</option>
			</select>
		</div>
		<div style="float:left">
			<h4>SVM type</h4>
			<select name="Second_Parameter" class="btn btn-default dropdown-toggle">
				<option value="l2r_l2loss_svc">l2r_l2loss_svc</option>
				<option value="l2r_l2loss_svc_dual">l2r_l2loss_svc_dual</option>
				<option value="l2r_l1loss_svc_dual">l2r_l1loss_svc_dual</option>
				<option value="l2r_lr_dual">l2r_lr_dual</option>
				<option value="l1r_l2loss_svc">l1r_l2loss_svc</option>
			</select>
		</div>
		<div style="float: left">
			<h4>Feature ranking method</h4>
			<select name="Third_Parameter" class="btn btn-default dropdown-toggle">
				<option value="SVM_(SVM_weights)">SVM (SVM weights)</option>
				<option value="RFE">RFE</option>
				<option value="ReliefF">ReliefF</option>
				<option value="extraTrees">extraTrees</option>
				<option value="Random_Forest">Random Forest</option>
				<option value="Anova_F-score">Anova F-score</option>
				<option value="random_ranking">random ranking</option>
			</select>
		</div>
		<br /><br /><br /><br /><br />
		<input type="submit" class="btn btn-default start" value="Next" onclick="uploadFile()" style="width: 100px" />
		<input type="hidden" name="pip_id" value="{{ pip_id }}">
	</form>
{% endblock %}
