<!DOCTYPE html>

<html> 
<body>

<h1 align="center">Options for machine learning algorithm</h1><br><br><br><br>

<form align="center" action="/class/step2" method="POST">

<table align="center">
<tr>
<td width="20%">
	<h3 align="center">Scaling method</h3>
	<select name="First_Parameter">
		<option value="norm_l2">norm_l2</option>
		<option value="std">std</option>
		<option value="minmax">minmax</option>
	</select>
</div>
</td>

<td width="20%">
	<h3 align="center">SVM type</h3>
	<select name="Second_Parameter">
		<option value="l2r_l2loss_svc">l2r_l2loss_svc</option>
		<option value="l2r_l2loss_svc_dual">l2r_l2loss_svc_dual</option>
		<option value="l2r_l1loss_svc_dual">l2r_l1loss_svc_dual</option>
		<option value="l2r_lr_dual">l2r_lr_dual</option>
		<option value="l1r_l2loss_svc">l1r_l2loss_svc</option>
	</select>
</div>
</td>

<td width="20%">
	<h3 align="center">Feature ranking method</h3>
	<select name="Third_Parameter">
		<option value="SVM_(SVM_weights)">SVM (SVM weights)</option>
		<option value="RFE">RFE</option>
		<option value="ReliefF">ReliefF</option>
		<option value="extraTrees">extraTrees</option>
		<option value="Random_Forest">Random Forest</option>
		<option value="Anova_F-score">Anova F-score</option>
		<option value="random_ranking">random ranking</option>
	</select>
</div>
</td>
</tr>

<tr>
	<td>
	</td>

	<td align="center"><br><br><br><br><br><br><br><br><br><br>

    		<input type="submit" value="Next">

	</td>
</tr>

</table>
<input type="hidden" name="pip_id" value="{{ pip_id }}">
</form>



</body> 

</html>
