{% extends "base.html" %}
{% load staticfiles %}

{# TITLE #}
{% block pagetitle %}
	Classification - 
{% endblock %}

{# UPLOAD TAB ACTIVE #}
{% block uploadtab %}
	{% if user.is_authenticated %}
		<li class="dropdown">
			<a href="#" class="dropdown-toggle activetab" data-toggle="dropdown">START<span class="caret caretfix"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="{% url 'preproc_upload' %}">Preprocessing</a></li>
				<li class="disabled"><a href="{% url 'class_upload' %}">Classification</a></li>
				<li><a href="{% url 'network_upload' %}">Network</a></li>
			</ul>
		</li>
	{% endif %}
{% endblock %}


{# CONTENT #}

{% block main %}
	<form action="/class/step2/" method="POST" style="text-align: center">
    {% csrf_token %}
		<h2>Options for the machine learning algorithm</h2>
		<br />
		<table style="width: 600px; margin-left: -300px; margin-right: -300px; position: relative; left: 50%">
			<tr>
				<th style="width: 200px; text-align: center">Scaling method<br /><br/></th>
				<th style="width: 200px; text-align: center">Classifier<br /><br /></th>
				<th style="width: 200px; text-align: center">Feature ranking method<br /><br /></th>
			</tr>
			<tr>
				<td>
					<select name="First_Parameter" class="btn btn-default dropdown-toggle">
						<option value="std">std</option>
						<option value="minmax">minmax</option>
						<option value="norm_l2">norm_l2</option>
					</select>
				</td>
				<td>
					<select name="Second_Parameter" class="btn btn-default dropdown-toggle">
						<option value="l2r_l2loss_svc">SVM l2r_l2loss_svc</option>
						<option value="l2r_l2loss_svc_dual">SVM l2r_l2loss_svc_dual</option>
						<option value="l2r_l1loss_svc_dual">l2r_l1loss_svc_dual</option>
						<option value="l2r_lr_dual">l2r_lr_dual</option>
						<option value="l1r_l2loss_svc">l1r_l2loss_svc</option>
						<li class="divider"></li>
						<option value="randomForest">randomForest</option>
					</select>
				</td>
				<td>
					<select name="Third_Parameter" class="btn btn-default dropdown-toggle">
						<option value="SVM_(SVM_weights)">SVM (SVM weights)</option>
						<option value="RFE">RFE</option>
						<option value="ReliefF">ReliefF</option>
						<option value="extraTrees">extraTrees</option>
						<option value="randomForest">Random Forest</option>
						<option value="Anova_F-score">Anova F-score</option>
						<option value="random_ranking">random ranking</option>
					</select>
				</td>
			</tr>
		</table>
		<br /><br />
		<input type="submit" class="btn btn-default start" value="Next" onclick="uploadFile()" style="width: 100px" />
		<input type="hidden" name="pip_id" value="{{ pip_id }}">
	</form>
{% endblock %}
