{% extends "base.html" %}
{% load staticfiles %}

{# TITLE #}
{% block pagetitle %}
	Network -
{% endblock %}

{# UPLOAD TAB ACTIVE #}
{% block uploadtab %}
	{% if user.is_authenticated %}
		<li class="dropdown">
			<a href="#" class="dropdown-toggle activetab" data-toggle="dropdown">START<span class="caret caretfix"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="{% url 'preproc_upload' %}">Preprocessing</a></li>
				<li><a href="{% url 'class_upload' %}">Classification</a></li>
				<li class="disabled"><a href="{% url 'network_upload' %}">Network</a></li>
			</ul>
		</li>
	{% endif %}
{% endblock %}


{# CONTENT #}

{% block main %}
	{% if messages %}
    	{% for message in messages %}
            <div class="alert alert-danger alert-dismissible" role="alert">
            	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            	<strong>Error!</strong> {{ message }}
			</div>
    	{% endfor %}
	{% endif %}
	<p style="text-align:center">Select or drop six <strong>.TXT</strong> files for the upload.</p><br />
	<form id="dropform" class="form fileformbox dropzone" name="dropformCODES" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-file" style="width:140px; text-align: left"> Data(TXT)</span>
			</span>
			<input id="fileData" name="fileData" type="file" class="form-control" />
		</div>
		<br />
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-file" style="width:140px; text-align: left"> Label(TXT)</span>
			</span>
			<input id="fileLabel" name="fileLabel" type="file" class="form-control" />
		</div>
        <br />
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-file" style="width:140px; text-align: left"> Sample(TXT)</span>
			</span>
			<input id="fileSamples" name="fileSamples" type="file" class="form-control" />
		</div>
        <br />
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-file" style="width:140px; text-align: left"> Feature(TXT)</span>
			</span>
			<input id="fileFeature" name="fileFeature" type="file" class="form-control" />
		</div>
        <br />
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-file" style="width:140px; text-align: left"> Rank(TXT)</span>
			</span>
			<input id="fileRank" name="fileRank" type="file" class="form-control" />
		</div>
        <br />
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-file" style="width:140px; text-align: left"> Metrics(TXT)</span>
			</span>
			<input id="fileMetrics" name="fileMetrics" type="file" class="form-control" />
		</div>
		<br />
		<input type="button" class="btn btn-default centeredbutton start" value="Upload" onclick="uploadFile()" />
		<br /><br />
		<div id="progress_cont" style="display: none; height: 100px;">
        	<div class="progress progress-striped active centerform" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
          		<div id="progress-bar" class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
			</div>
			<div id="progress-num" class="centerform" style="text-align: center; top: -39px; z-index:2">0 %</div>
			<div class="centerform">
			<div id="f_size" class="glyphicon glyphicon-hdd"> 0 KB</div>
			<div id="up_spd" class="glyphicon glyphicon-cloud-upload" style="margin-left: 10px"> 0 KB/s</div>
			<div id="tm_lft" class="glyphicon glyphicon-time" style="margin-left: 10px"> 0s</div></div>
		</div>
	</form>
	<br /><br />
	<p style="text-align:center">Please wait for the files to finish uploading: do not leave the page, you will be redirected automatically.</p>
	<script type="text/javascript">
		function uploadFile() {
            var fileSize=0;
			var fileData = document.getElementById('fileData').files[0];
        	if (fileData) { fileSize += fileData.sizeData; }
            var fileLabel = document.getElementById('fileLabel').files[0];
        	if (fileLabel) { fileSize += fileLabel.sizeData; }
            var fileSamples = document.getElementById('fileSamples').files[0];
        	if (fileSamples) { fileSize += fileSamples.sizeData; }
            var fileFeature = document.getElementById('fileFeature').files[0];
        	if (fileFeature) { fileSize += fileFeature.sizeData; }
            var fileRank = document.getElementById('fileRank').files[0];
        	if (fileRank) { fileSize += fileRank.sizeData; }
            var fileMetrics = document.getElementById('fileMetrics').files[0];
        	if (fileMetrics) { fileSize += fileMetrics.sizeData; }
			if (fileSize < 1024 * 1024) {
            	fileSize = (Math.round(fileSize * 100 / (1024)) / 100).toString() + ' KB';
			}
          	else {
				if (fileSize < 1024 * 1024 * 1024) {
            		fileSize = (Math.round(fileSize * 100 / (1024 * 1024)) / 100).toString() + ' MB';
				}
				else {
					fileSize = (Math.round(fileSize * 100 / (1024 * 1024 * 1024)) / 100).toString() + ' GB';
				}
			}
          	document.getElementById('f_size').innerHTML = ' ' + (fileSize);

			var fd = new FormData();
			fd.append("fileData", fileData);
            fd.append("fileLabel", fileLabel);
            fd.append("fileSamples", fileSamples);
            fd.append("fileFeature", fileFeature);
            fd.append("fileRank", fileRank);
            fd.append("fileMetrics", fileMetrics);
			fd.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
			var xhr = new XMLHttpRequest();
			xhr.upload.addEventListener("progress", uploadProgress, false);
			xhr.addEventListener("load", uploadComplete, false);
			xhr.addEventListener("error", uploadFailed, false);
			xhr.addEventListener("abort", uploadCanceled, false);
			xhr.open("POST", "");
			xhr.send(fd);

			window.startTime = new Date().getTime();
			document.getElementById('progress_cont').style.display = 'block';
		}

		function uploadProgress(evt) {
			if (evt.lengthComputable) {
				var PerCent = Math.round(evt.loaded * 100 / evt.total).toString();
				document.getElementById('progress-bar').style.width = PerCent + '%';
				document.getElementById('progress-num').innerHTML = PerCent + ' %';
				var AverageSpeed = evt.loaded * 1000 / 1024 / (new Date().getTime() - window.startTime);
				document.getElementById('up_spd').innerHTML = ' ' + Math.round(AverageSpeed) + ' KB/s';
				var KbLeft = (evt.total - evt.loaded) / 1024;
				var timeLeft = Math.round(KbLeft / AverageSpeed);
				var timeLeftS = '';
				if (timeLeft > 3600) {
					timeLeftS = ' ' + Math.round(timeLeft / 3600) + 'h ' + Math.round((timeLeft % 3600)/60) + 'm ' + (timeLeft % 60) + 's';
				}
				else {
					if (timeLeft > 60) {
						timeLeftS = ' ' + Math.round(timeLeft / 60) + 'm ' + (timeLeft % 60) + 's';
					}
					else { timeLeftS = ' ' + timeLeft + 's'; }
				}
				document.getElementById('tm_lft').innerHTML = timeLeftS;
			}
			else {
				document.getElementById('progressNumber').innerHTML = 'unable to compute';
			}
		}

		function uploadComplete(evt) {
			window.location.replace(evt.target.responseText);
		}

		function uploadFailed(evt) {
			alert("There was an error attempting to upload the file.");
		}

		function uploadCanceled(evt) {
			alert("The upload has been canceled by the user or the browser dropped the connection.");
		}
	</script>
	<br />

    {% if file_exist %}
      <h3>Choose among the old files</h3>
    <table class="table table-striped">
    <tr>
        <th> File data </th>
        <th> File label </th>
        <th> File samples </th>
        <th> File feature </th>
        <th> File rank </th>
        <th> File metrics </th>
        <th> Select </th>
        <th> Delete </th>
    </tr>
	{% for el in tabFile %}
            <tr>
            <td>{{ el.fileData.filename|truncatechars:14 }}</td>
            <td>{{ el.fileLabel.filename|truncatechars:14 }}</td>
            <td>{{ el.fileSamples.filename|truncatechars:14 }}</td>
            <td>{{ el.fileFeature.filename|truncatechars:14 }}</td>
            <td>{{ el.fileRank.filename|truncatechars:14 }}</td>
            <td>{{ el.fileMetrics.filename|truncatechars:14 }}</td>
            <td><a href="/network/option/{{ el.pip_id }}/"> SELECT </a></td>
            <td><a href="/network/delete/{{ el.fileData.pk }}/{{ el.fileLabel.pk }}/{{ el.fileSamples.pk }}/{{ el.fileFeature.pk }}/{{ el.fileRank.pk }}/{{ el.fileMetrics.pk }}/"> DELETE </a> </td>
            </tr>
	{% endfor %}
    </table>
    {% endif %}

{% endblock %}
