{% extends "base.html" %}
{% load staticfiles %}

{# TITLE #}
{% block pagetitle %}
	Network graphs - 
{% endblock %}

{# RESULTS TAB ACTIVE #}

{% block resultstab %}
	<li class="activetab"><a href="#">RESULTS</a></li>
{% endblock %}

{# CONTENT #}

{% block main %}
	<style>
		.btn {
			min-width: 80px;
		}

		.activated {
			background-color: #c5d4c3 !important;
		}

		.table th {
			text-align: center;
		}
	</style>
	<div id="cont" style="text-align: center">
		<h1>Network graphs</h1>
		<br />
		{% for i in label_names %}
			{% if forloop.first %}
                <button type="button" class="btn btn-default activated" onclick="changeGraph(this)" value="{{ forloop.counter0 }}">{{ i }}</button>
            {% else %}
                <button type="button" class="btn btn-default" onclick="changeGraph(this)" value="{{ forloop.counter0 }}">{{ i }}</button>
            {% endif %}
		{% endfor %}
		<br /><br />
		<div id="graph">
			<img src="" style="width: 800px; margin-left: 10px;" />
			<br /><br />
			<table class="table">
				<tr>
				    {% for i in label_names %}
						{% if forloop.last %}{% else %}<th>{{ i }}</th>{% endif %}
					{% endfor %}
				</tr>
				<tr>
					{% for i in label_names %}
						{% if forloop.last %}{% else %}<td>{{ i }}</td>{% endif %}
					{% endfor %}
				</tr>
			</table>
		</div>
	</div>
	<script>
		var path = "{{ graph_path }}";
		var img = document.getElementById('graph').childNodes[1];
		var table = document.getElementsByClassName('table')[0];
		var len = {{ label_names|length }};
        img.setAttribute('src', path + document.getElementsByClassName('activated')[0].innerHTML + '.png');

		var matrix = [
		{% for m in matrix %}
		    [
		    {% for i in m %}
		        '{{ i }}' ,

		    {% endfor %}
		    ],
		{% endfor %}
		];

		function changeGraph(dis) {
			dis.className = dis.className + " activated";
			var name = dis.innerHTML;
			var src = name + '.png';
			img.setAttribute('src', path + src);
			var j = 0;
			for (i = 0; i < len; i++) {
				if (i != dis.value) {
					table.getElementsByTagName('th')[j].innerHTML = dis.parentNode.getElementsByTagName('button')[i].innerHTML;
					table.getElementsByTagName('td')[j].innerHTML = matrix[dis.value][i];
					dis.parentNode.getElementsByTagName('button')[i].className = dis.parentNode.getElementsByTagName('button')[i].className.split(' activated')[0];
					j += 1;
				}
			}
		}
	</script>
{% endblock %}
