*  {
	margin: 0;
	border: 0;
	padding: 0;
}

html body {
	background-color: #99a197;
}

#wrapper {
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
	margin-bottom: 20px;
}

main {
	padding: 40px;
	background-color: white;
}

#topnavbar, #bottomnavbar {
	margin: 0;
	border: 0;
	background-color: #cfdecc;
}

#topnavbar {
	border-bottom: 1px solid #777;
	font-size: 13px;
	position: fixed;
	width: 80%;
	top: 0;
}

#logoimage {
	height: 50px;
}

#bottomnavbar {
	border-bottom-left-radius:10px !important;
	border-bottom-right-radius:10px !important;
	border-top: 1px solid #777;
}

.navseparator {
	height: 1px;
	background-color: #777;
}

.navbar, .navbar-default {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

#logindropdown {
	width: 300px;
	padding: 30px;
}

#caretlogin {
	margin-left: 5px;
}

.centeredbutton {
	width: 100px;
	margin-left: -50px;
	margin-right: -50px;
	position: relative;
	left: 50%;
}

.activetab {
	background-color: #bbccb8;
}

#footercontainer {
	width: 100%;
	padding: 10px;
}

#contactlist {
	list-style-type: none;
	margin: 0;
}

#footerleft {
	float: left;
}

#footerright {
	float: right;
}

.logofooter {
	height: 80px;
}

ul {
	list-style-type: none;
}

.input-group {
	width: 238px;
}

.formbox {
	width: 250px !important;
	margin-left: -125px !important;
	margin-right: -125px !important;
	position: relative !important;
	left: 50% !important;
}

.fileformbox {
	width: 340px !important;
	margin-left: -170px !important;
	margin-right: -170px !important;
	position: relative !important;
	left: 50% !important;
}

.forminp {
	width: 100%;
}
