{% extends "base.html" %}
{% load staticfiles %}

{# TITOLO #}
{% block pagetitle %}
	Preprocess
{% endblock %}


{% block main %}
	<p style="text-align:center">Select or drop a file to upload.</p><br />
	<form id="dropform" class="form fileformbox dropzone" method="POST" enctype="multipart/form-data"> 
		{% csrf_token %}
		<div class="input-group forminp">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-file"></span>
			</span>
			<input id="id_file" name="file" type="file" class="form-control" placeholder="Uploadfile" />
		</div>
		<br />
		<input type="submit" class="btn btn-default centeredbutton" value="Submit" />
	</form>
	<script src="{% static 'script/dropzone.js' %}"></script>
{% endblock %}
