{% extends "base.html" %}
{% load staticfiles %}

{# TITLE #}
{% block pagetitle %}
	Preprocess - 
{% endblock %}

{# UPLOAD TAB ACTIVE #}
{% block uploadtab %}
	{% if user.is_authenticated %}
		<li class="dropdown">
			<a href="#" class="dropdown-toggle activetab" data-toggle="dropdown">START<span class="caret caretfix"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li class="disabled"><a href="{% url 'preproc_upload' %}">Preprocessing</a></li>
				<li><a href="{% url 'class_upload' %}">Classification</a></li>
				<li><a href="#">Network</a></li>
			</ul>
		</li>
	{% endif %}
{% endblock %}


{# CONTENT #}

{% block main %}
	{% if messages %}
		<ul class="messages">
    	{% for message in messages %}
    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    	{% endfor %}
		</ul>
	{% endif %}
	<p style="text-align:center">Select a <strong>.SFF</strong> and a <strong>.MAP</strong> file for the upload.</p><br />
	<form class="form fileformbox" method="post" enctype="multipart/form-data"> 
		{% csrf_token %}
		<div class="input-group forminp">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-compressed" style="width:58px"> SFF</span>
			</span>
			<input id="id_file" name="file_sff" type="file" class="form-control" />
		</div>
		<br />
		<div class="input-group forminp">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-file"> MAP</span>
			</span>
			<input id="id_file" name="file_map" type="file" class="form-control" />
		</div>
		<br />
		<input type="submit" class="btn btn-default centeredbutton start" value="Submit" />
		<br />
	</form>

	<br /><br />
	<p style="text-align:center">Please wait for the files to finish uploading: do not leave the page, you will be redirected automatically.</p>


    {% if file_exist %}
    <table class="table table-striped">
    <tr>
        <th> File ZIP </th>
        <th> File MAP </th>
        <th> Select </th>
        <th> Delete </th>
    </tr>
        {% for file in file_list %}
        <tr>
            <td> {{ file.1.filename }} </td>
            <td> {{ file.0.filename }} </td>
            <td>  <a href="/preproc/celery/{{ file.2 }}/1/"> SELECT </a> </td>
            <td> <a href="/preproc/delete/{{ file.0.pk }}/{{ file.1.pk }}/"> DELETE </a> </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
