{% extends "base.html" %}
{% load staticfiles %}

{# TITLE #}
{% block pagetitle %}
	Preprocess - 
{% endblock %}

{# UPLOAD TAB ACTIVE #}
{% block uploadtab %}
	{% if user.is_authenticated %}
		<li class="dropdown">
			<a href="#" class="dropdown-toggle activetab" data-toggle="dropdown">START<span class="caret caretfix"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li class="disabled"><a href="{% url 'preproc_upload' %}">Preprocessing</a></li>
				<li><a href="{% url 'class_upload' %}">Classification</a></li>
				<li><a href="#">Network</a></li>
			</ul>
		</li>
	{% endif %}
{% endblock %}


{# CONTENT #}

{% block main %}
	{% if messages %}
		<ul class="messages">
    	{% for message in messages %}
    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    	{% endfor %}
		</ul>
	{% endif %}
	<p style="text-align:center">Select or drop a <strong>.SFF</strong> and a <strong>.MAP</strong> file for the upload.</p><br />
	<form class="form fileformbox" method="post" enctype="multipart/form-data"> 
		{% csrf_token %}
		<div class="input-group forminp">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-file" style="width:58px"> SFF</span>
			</span>
			<input id="file_sff" name="file_sff" type="file" class="form-control" />
		</div>
		<br />
		<div class="input-group forminp">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-file"> MAP</span>
			</span>
			<input id="file_map" name="file_map" type="file" class="form-control" />
		</div>
		<br />
		<input type="button" class="btn btn-default centeredbutton start" value="Upload" onclick="uploadFile()" />
		<br /><br />
		<div id="progress_cont" style="display: none; height: 100px;">
        	<div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width:340px">
          		<div id="progress-bar" class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
			</div>
			<div id="progress-num" style="width: 340px; text-align: center; position: relative; top: -39px ;z-index:2">0 %</div>
			<div style="margin-left: auto; margin-right: auto">
			<div id="f_size" class="glyphicon glyphicon-hdd"> A</div>
			<div id="up_spd" class="glyphicon glyphicon-cloud-upload" style="margin-left: 10px"> B</div>
			<div id="tm_lft" class="glyphicon glyphicon-time" style="margin-left: 10px"> C</div></div>
		</div>
	</form>
	<script type="text/javascript">
		function uploadFile() {
			var file_sff = document.getElementById('file_sff').files[0];
        	if (file_sff) { var fileSize_sff = file_sff.size; }
			file_map = document.getElementById('file_map').files[0];
        	if (file_map) { var fileSize_map = file_sff.size; }
			var fileSize = fileSize_sff + fileSize_map; // the fileSize is wrong
			if (fileSize < 1024 * 1024) {
            	fileSize = (Math.round(fileSize * 100 / (1024)) / 100).toString() + ' KB';
			}
          	else {
				if (fileSize < 1024 * 1024 * 1024) {
            		fileSize = (Math.round(fileSize * 100 / (1024 * 1024)) / 100).toString() + ' MB';
				}
				else {
					fileSize = (Math.round(fileSize * 100 / (1024 * 1024 * 1024)) / 100).toString() + ' GB';
				}
			}
          	document.getElementById('f_size').innerHTML = ' ' + (fileSize);

			var fd = new FormData();
			fd.append("file_sff", file_sff);
			fd.append("file_map", file_map);
			fd.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
			var xhr = new XMLHttpRequest();
			xhr.upload.addEventListener("progress", uploadProgress, false);
			xhr.addEventListener("load", uploadComplete, false);
			xhr.addEventListener("error", uploadFailed, false);
			xhr.addEventListener("abort", uploadCanceled, false);
			xhr.open("POST", "");
			xhr.send(fd);

			window.startTime = new Date().getTime();
			document.getElementById('progress_cont').style.display = 'block';
		}

		function uploadProgress(evt) {
			if (evt.lengthComputable) {
				var PerCent = Math.round(evt.loaded * 100 / evt.total).toString();
				document.getElementById('progress-bar').style.width = PerCent + '%';
				document.getElementById('progress-num').innerHTML = PerCent + ' %';
				var AverageSpeed = evt.loaded * 1000 / 1024 / (new Date().getTime() - window.startTime);
				document.getElementById('up_spd').innerHTML = ' ' + Math.round(AverageSpeed) + ' KB/s';
				var KbLeft = (evt.total - evt.loaded) / 1024;
				var timeLeft = Math.round(KbLeft / AverageSpeed);
				var timeLeftS = '';
				if (timeLeft > 3600) {
					timeLeftS = ' ' + Math.round(timeLeft / 3600) + 'h ' + Math.round((timeLeft % 3600)/60) + 'm ' + (timeLeft % 60) + 's';
				}
				else {
					if (timeLeft > 60) {
						timeLeftS = ' ' + Math.round(timeLeft / 60) + 'm ' + (timeLeft % 60) + 's';
					}
					else { timeLeftS = ' ' + timeLeft + 's'; }
				}
				document.getElementById('tm_lft').innerHTML = timeLeftS;
			}
			else {
				document.getElementById('progressNumber').innerHTML = 'unable to compute';
			}
		}

		function uploadComplete(evt) {
			window.location.replace(evt.target.responseText);
		}

		function uploadFailed(evt) {
			alert("There was an error attempting to upload the file.");
		}

		function uploadCanceled(evt) {
			alert("The upload has been canceled by the user or the browser dropped the connection.");
		}
	</script>
	<br /><br />
	<p style="text-align:center">Please wait for the files to finish uploading: do not leave the page, you will be redirected automatically.</p>
	<br /><br />
    {% if file_exist %}
    	<table class="table table-striped" style="width:100%">
    		<tr>
				<th>ZIP</th>
				<th>File MAP</th>
				<th>Select</th>
				<th>Delete</th>
			</tr>
			{% for file in file_list %}
				<tr>
					<td> {{ file.1.filename }} </td>
					<td> {{ file.0.filename }} </td>
					<td>  <a href="/preproc/celery/{{ file.2 }}/1/"> SELECT </a> </td>
					<td> <a href="/preproc/delete/{{ file.0.pk }}/{{ file.1.pk }}/"> DELETE </a> </td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}
